main.comics {
  display: flex;
  flex-direction: column;
  align-items: center;

  section {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  article {
    position: relative;
    width: calc((100% / 2) - 20px);
    height: 500px;
    overflow: hidden;
  }

  h2 {
    background-color: var(--red);
    padding: 5px 10px;
    margin-bottom: 10px;
    color: var(--white);
    font-weight: bold;
    padding-right: 25px;
  }

  p {
    color: var(--light-grey);
    text-align: justify;
    margin: 10px 0;
  }

  .heart {
    position: absolute;
    top: 3px;
    right: 0;
    z-index: 1;
    background-color: transparent;
    color: var(--dark-grey);

    &:hover {
      cursor: pointer;
      // font-size: 20px;
      color: var(--light-grey);
    }
  }

  .fav {
    color: var(--light-grey);
  }

  .page {
    color: var(--light-grey);
    margin-top: 40px;

    button:not(.heart) {
      margin: 0 10px;
      background-color: transparent;
      color: inherit;

      &:hover {
        cursor: pointer;
        color: var(--red);
      }
    }

    input {
      background-color: transparent;
      color: inherit;
      border: none;
      font-size: inherit;
      text-align: center;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
  }
}

@media (min-width: 450px) {
  main.comics {
    article {
      width: 168px;
    }
  }
}
