.user {
  h2 {
    background-color: var(--light-grey);
    border: 2px solid #000;
    padding: 5px 10px;
    color: var(--dark-grey);
    font-weight: bold;
    margin: 20px 0;
    max-width: 300px;
    font-family: "CCWildWordsLower", sans-serif;
    text-align: left;
  }

  p {
    margin: 50px 0;
    color: var(--light-grey);
  }

  .deadpool {
    height: 500px;
  }

  section > section {
    &.comics {
      display: flex;
      gap: 20px;
      width: 100%;
      overflow: scroll;

      article {
        width: 168px;
      }

      h3 {
        background-color: var(--red);
        padding: 5px 10px;
        margin-bottom: 10px;
        color: var(--white);
        font-weight: bold;
      }

      p {
        color: var(--light-grey);
        text-align: justify;
        margin: 10px 0;
        max-height: 200px;
        overflow: hidden;
      }
    }

    &.characters {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      font-family: "CCWildWordsLower", sans-serif;

      article {
        position: relative;
        border: 5px solid #000;
      }

      h3 {
        position: absolute;
        top: 1px;
        left: 1px;
        background-color: var(--light-grey);
        border: 2px solid var(--dark-grey);
        padding: 2px 8px;
      }

      p {
        position: absolute;
        bottom: 0px;
        left: 0px;
        background-color: var(--light-grey);
        border: 2px solid var(--dark-grey);
        color: var(--dark-grey);
        padding: 2px 8px;
        max-height: 55px;
        overflow: hidden;
        margin: 0;
      }
    }
  }
}
