.home {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 160px);
  justify-content: space-between;

  div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  p {
    color: var(--light-grey);
    font-size: 24px;
  }

  img {
    max-height: calc(100% - 50px);
    max-width: 100%;
    object-fit: contain;
  }
}
